.menuList {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.dessertHeader {
	font-weight: 700;
	margin-bottom: 1rem;
	letter-spacing: .8px;
}


@media screen and (min-width: 769px) {

	.menuList {
		display: flex;
		flex-flow: row wrap;
		gap: 2rem;		
	}	
}